LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
	${TOPDIR}/../sources/openembedded-core/meta \
	${TOPDIR}/../sources/meta-openembedded/meta-oe \
	${TOPDIR}/../sources/meta-openembedded/meta-filesystems \
	${TOPDIR}/../sources/meta-openembedded/meta-networking \
	${TOPDIR}/../sources/meta-openembedded/meta-python \
	${TOPDIR}/../sources/meta-openembedded/meta-webserver \
	${TOPDIR}/../sources/poky/meta-poky \
	${TOPDIR}/../sources/meta-uav \
	${TOPDIR}/../sources/meta-tegra \
	${TOPDIR}/../sources/meta-torta \
	${TOPDIR}/../sources/meta-torta/meta-common \
"
